/* General Styles */

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

a {
    color: #007bff;
    text-decoration: none;
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #0062cc;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: bold;
}

p {
    margin: 0;
    line-height: 1.5;
}

input, select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #007bff;
    color: #fff;
}

/* Home Page */

.header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navigation {
    display: flex;
}

.navigation a {
    margin-left: 20px;
}




